@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Roboto;
}

/* * {border: solid black 1px;} */

body{
  background: #F5CECE;
  backdrop-filter: blur(2px);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo {
  position: absolute;
  padding: 6rem;
  top: 0px;
  left: 0px;
}

.banner {
  display: flex;
  /* width: 1104px; */
  padding: 9.6rem 3.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5.5rem;
  gap: 2.8rem;
  border-radius: 1.2rem;
  border: 1px solid #D39588;
  background: rgba(255, 255, 255, 0.36);
  box-shadow: 3px 6px 4px 2px rgba(0, 0, 0, 0.16);
}

.banner .heading{
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 9.5rem; /* 98.958% */
}

.banner .sub-heading {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 9.5rem; /* 237.5% */
}

#form-response {
  font-size: 3.2rem;
  display: none;
}

.waitlist {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--borderRadius, 4px);
}

.email_label{
  display: flex;
  gap: 1.1rem;
  flex-direction: column;
}

.email_text{
  align-self: stretch;
  color: #000;
  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem; /* 160% */
}

.inner-form{
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-shrink: 0;
}

#email-input {
  display: flex;
  font-size: 1.5rem;
  padding: 16px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: var(--borderRadius, 4px);
  background: #FFF;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.20);
}

#submit {
  display: flex;
  height: 100%; 
  padding: 8px 16px;
  color: #FFF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--borderRadius, 4px);
  background: #63432C;
  font-size: 1.6rem;

  /* elevation/2 */
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.20);

  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.illustration {
  position: absolute;
  width: 20vw;
  max-height: 40vh;
  min-height: 20rem;
  flex-shrink: 0;
  bottom: 0px;
  right: 0px;
}

@media (width < 1536px){
  html{
    font-size: 50%;
  }
}

@media (width < 1280px){
  html{
    font-size: 40%;
  }


  .email_text{
    font-size: 3rem;
  }
  
  #email-input {
    font-size: 2.5rem;
  }
  
  #submit {
    font-size: 2.6rem;
  }


}

@media (width < 1024px){
  html{
    font-size: 35%;
  }
}

@media (width < 768px){
  html{
    font-size: 35%;
  }
  .logo{
    top: 60px;
    left: 50%;
    translate: -50%;
  }
  .banner{
    min-height: 40vh;
  }
  .illustration{
    width: auto;
    max-height: 30vh;
  }
  #submit {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (width < 640px){
  html{
    font-size: 30%;
  }

  .logo{
    height: 15%;
  }

  .waitlist{
    width: 100%;
    padding: 0px 16px;
  }

  .email_label{
    width: 100%;
  }

  .inner-form{
    flex-direction: column;
    width: 100%;
  }

  #email-input{
    width: 100%;
  }

  #email-input{
    width: 100%;
  }

}